{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 8 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

{% if settings.showcase == "featured" %}
    {% set showcaseText = Translation('destaques') %}
{% elseif settings.showcase == "new" %}
    {% set showcaseText = Translation('lancamentos') %}
{% elseif settings.showcase == "free_shipping" %}
    {% set showcaseText = Translation('frete_gratis_min') %}
{% elseif settings.showcase == "promotion" %}
    {% set showcaseText = Translation('promocoes') %}
{% elseif settings.showcase == "top_seller" %}
    {% set showcaseText = Translation('mais_vendidos') %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}

    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}

{% else %}
    {% if settings.showcase == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': available,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
    {% else %}
        {% set products = Products({
            'filter': settings.showcase,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
{% endif %}


{% element 'snippets/banner-home' %}
{% element 'snippets/menu-home' %}


{% element 'showcase-home' {
    "products": products,
    "showcaseTitle": null
} %}


<div class="bg-secondary-theme py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center mb-3 mb-md-0">
                <a href="/nossa-historia" class="d-block position-relative">
                    <img class="img-fluid" src="{{ banners.extra2.src }}">
                    <!--<div class="position-absolute top-50 start-50 text-white text-start">
                        <span class="fs-6 text d-block">Nossa</span>
                        <span class="fs-4 text fw-bold">História</span>
                    </div>-->
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="/praticas-responsaveis" class="d-block position-relative">
                    <img class="img-fluid" src="{{ banners.extra3.src }}">
                    <!--<div class="position-absolute top-50 text-white text-start praticas-responsaveis">
                        <span class="fs-6 text d-block">Práticas</span>
                        <span class="fs-4 text fw-bold">Responsáveis</span>
                    </div>-->
                </a>
            </div>
        </div>
    </div>
</div>

<!--<h2 class="text-center text-secondary-theme mb-0 mt-3">Escolhidos da Cila</h2>-->
{% element 'showcase-home' {
    "products": Products({
        'limit': 8,
        'order': 'rand',
        'brands': 'escolhidos-cila'
    }),
    "showcaseTitle": 'Escolhidos da Cila'
} %}

<script>
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      dots: false,
      responsive:{
          0:{
              items:2
          },
          992:{
              items:4
          }
      }
  });
</script>