</div>
<div class="catalog-header bg-third-theme py-5">
    <div class="container-fluid">
        <h1 class="catalog-name fs-4 text-white fw-bold mb-0">Exibindo resultados para: {{ search.word }}</h1>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="system-filter">
        {% element 'snippets/filter' {
            'brands': category.brands
        } %}
    </div>

    <div class="pagination">
        {% element 'snippets/paginate' %}
    </div>
</div>


{% if products|length > 0 %}
    <div class="catalog-content row">
        {% element 'showcase-catalog' {
            "products": products
        } %}
    </div>
    <div class="container-fluid mt-3">
    <div class="catalog-footer pagination">
        {% element 'snippets/paginate' %}
    </div>
    </div>

{% else %}
    <p>Nenhum produto encontrado nessa categoria.</p>

{% endif %}

{% if banner.bottom %}
    <div class="banner banner-bottom ">
        {{ banner.bottom }}
    </div>
{% endif %}
<div>